<header class="header">
    <a href="/" class="header_logo">
        NodeJs
    </a>
    <nav>
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/About" class="">About</a></li>
            <li><a href="/Contact" class="">Contact</a></li>
        </ul>
    </nav>
    <div class="header-search">
        <form action="#">
            <input type="text">
            <button class="serch-btn" aria-expanded="false">
                Search
            </button>
        </form>
    </div>
</header>