<div class="author">
    <h1 class="author_header">
        Hi I'm Alex
    </h1>
    <p class="author_body">
        I work as back-end web development and ai enginer
    </p>
</div>

<div class="img">
    <img src="https://raw.githubusercontent.com/RaddyTheBrand/25.NodeJs-Express-EJS-MongoDB--Blog/main/public/img/hero-image.webp" alt="img">
</div>

<section class="article">
    <h2 class="article_heading">Lastest Post</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="artice-lat_date">
                    Date
                </span>
            </a>
        </li>
    </ul>
    <a href="#">&lt; Veiw Older Post</a>
</section>
