<div class="author">
    <h1 class="author_header">
        Hi I'm Alex
    </h1>
    <p class="author_body">
        I work as back-end web development and ai enginer
    </p>
</div>

<div class="img">
    <img src="https://raw.githubusercontent.com/RaddyTheBrand/25.NodeJs-Express-EJS-MongoDB--Blog/main/public/img/hero-image.webp" alt="img">
</div>

<section class="article">
    <h2 class="article_heading">Lastest Post</h2>
    <ul class="article-ul">
        <% data.forEach(post =>  { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="artice-lat_date">
                    <%= post.createdAt.toDateString() %>
                </span>
            </a>
        </li>
        <% }) %>
    </ul>
    <div class="group-pagination">
        <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Veiw Older Post</a>
        <% } %>
        <!-- <a href="#">&; Veiw Older Post</a> -->
    </div>
</section>
